<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<header id="header">
    <nav id="nav">
        <a href="/index">Index</a>
        <a href="/contact">contact</a>
        <a href="/contact-list">contact-list</a>
        <a href="/fever">fever</a>
        <a href="/about">about</a>
    </nav>
</header>
<img src="./image/bild.jpg">

</body>
</html>