<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <meta charset="UTF-8">
    <title>contact</title>
</head>
<body>
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item" th:each="contact: ${strings}">
                <p th:text="${contact}"></p>
            </li>
        </ul>
    </div>
    <form th:action="@{contact}" method="post">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" name="name" placeholder="Enter your name">
            </div>
        </div>
        <div class="form-group row">
            <button type="submit">Send</button>
        </div>
    </form>
    <form th:action="@{index}">
        <div>
            <button class="btn btn-outline-info" th:href="@{fever.html}">To fever page</button>
        </div>
    </form>
</body>
</html>